	html{
		font-size: 100%;
		height: 100%;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	  }
	  
	  body {
		font-family: "Roboto";
		font-size: 14px;
		background-size: 200% 100% !important;
		-webkit-animation: move 10s ease infinite;
				animation: move 10s ease infinite;
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
		background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
		height: 100vh;
	  }
	  
	/*Nav-Bar CSS */
	.my-nav{	
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}

	.my-nav-li{
		float: left;
	}

	.my-nav-a{
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;	
	}
		

	.heading{
		text-align: center;
		margin-top: 50px;
	}
	.wrapper {
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	margin-top: 50px;
	justify-content: center;
	}
	.wrapper .file-upload {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px solid #FFFFFF;
	overflow: hidden;
	background-image: linear-gradient(to bottom, rgb(22, 102, 252) 50%, #FFFFFF 50%);
	background-size: 100% 200%;
	transition: all 1s;
	color: #FFFFFF;
	font-size: 100px;
	}
	.wrapper .file-upload input[type='file'] {
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	}
	.wrapper .file-upload:hover {
	background-position: 0 -100%;
	color: rgb(5, 44, 78);
	}

	.upload {
		margin: 10px;
		background-color: rgb(160, 0, 35); 
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
	  }

	  .upload-div{
		display: flex;
		justify-content: center;
		align-items: center;
	  }

	  .upload:hover{
		  background-color:  rgb(184, 60, 87);
	  }

	  @-webkit-keyframes NO {
		from, to {
		  -webkit-transform: translate3d(0, 0, 0);
		  transform: translate3d(0, 0, 0);
		}
		10%, 30%, 50%, 70%, 90% {
		  -webkit-transform: translate3d(-10px, 0, 0);
		  transform: translate3d(-10px, 0, 0);
		}
		20%, 40%, 60%, 80% {
		  -webkit-transform: translate3d(10px, 0, 0);
		  transform: translate3d(10px, 0, 0);
		}
	  }
	  
	  @keyframes NO {
		from, to {
		  -webkit-transform: translate3d(0, 0, 0);
		  transform: translate3d(0, 0, 0);
		}
		10%, 30%, 50%, 70%, 90% {
		  -webkit-transform: translate3d(-10px, 0, 0);
		  transform: translate3d(-10px, 0, 0);
		}
		20%, 40%, 60%, 80% {
		  -webkit-transform: translate3d(10px, 0, 0);
		  transform: translate3d(10px, 0, 0);
		}
	  }
	  @-webkit-keyframes arrive {
		0% {
		  opacity: 0;
		  -webkit-transform: translate3d(0, 50px, 0);
				  transform: translate3d(0, 50px, 0);
		}
		100% {
		  opacity: 1;
		  -webkit-transform: translate3d(0, 0, 0);
				  transform: translate3d(0, 0, 0);
		}
	  }
	  @keyframes arrive {
		0% {
		  opacity: 0;
		  -webkit-transform: translate3d(0, 50px, 0);
				  transform: translate3d(0, 50px, 0);
		}
		100% {
		  opacity: 1;
		  -webkit-transform: translate3d(0, 0, 0);
				  transform: translate3d(0, 0, 0);
		}
	  }
	  @-webkit-keyframes move {
		0% {
		  background-position: 0 0;
		}
		50% {
		  background-position: 100% 0;
		}
		100% {
		  background-position: 0 0;
		}
	  }
	  @keyframes move {
		0% {
		  background-position: 0 0;
		}
		50% {
		  background-position: 100% 0;
		}
		100% {
		  background-position: 0 0;
		}
	  }