<html>
    <head>
        <title>Resume Reader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel ="stylesheet" href = "/static/styles.css">
        <link rel ="stylesheet" href = "/static/form.css">
        <script src = "/static/form.js"></script>
        
    </head>
    <body>
        <ul class = "my-nav">
            <li class = "my-nav-li"><a href="{{ url_for('home') }}" class = "my-nav-a">Home</a></li>
            <li class = "my-nav-li"><a href="{{ url_for('home') }}" class = "my-nav-a">About</a></li>
        </ul>
            <div class="user">
                <header class="user__header">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
                    <h1 class="user__title">Resume Details</h1>
                </header>
            </div>
            
            <form class="form" action="/datasave" method="POST" enctype="multipart/form-data">    
                <div class = "container">
                        <div class = "user-details">

                            <div class="form__groupb">
                                <h4>Name</h4>
                            </div>

                            <div class="form__group">
                                <input type="text" placeholder="Name" name="name" value="{{ name }}" class="form__input" required />
                            </div>

                            <div class="form__groupb">
                                <h4>Email</h4>
                            </div>

                            <div class="form__group">
                                <input type="email" placeholder="Email" name="email" value="{{ email }}" class="form__input" required/>
                            </div>

                            <div class="form__groupb">
                                <h4>Phone</h4>
                            </div>

                            <div class="form__group">
                                <input type="tel" placeholder="Phone" name="phone" class="form__input" required/>
                            </div>
                            
                            <div class="form__groupb">
                                <h4>Linkedin Profile</h4>
                            </div>

                            <div class="form__group">
                                <input type="text" placeholder="Linkedin" name="linkedin" value="{{ linkedin }}" class="form__input" />
                            </div>
                            
                            <div class="form__groupb">
                                <h4>Line Count</h4>
                            </div>

                            <div class="form__group">
                                <input type="number" placeholder="Text Line" name="linecount" value="{{ linecount }}" class="form__input" />
                            </div>
                            
                        </div>
                        
                        <div class = "file-details">
                            
                            <div class="form__groupb">
                                <h4>Total Text Characters</h4>
                            </div>

                            <div class="form__group">
                                <input type="number" placeholder="Text Characters" name="textcount" value="{{ textcount }}" class="form__input" />
                            </div>

                            <div class="form__groupb">
                                <h4>Total Tables</h4>
                            </div>

                            <div class="form__group">
                                <input type="number" placeholder="Tables" name="tablecount" value="{{ tablecount }}" class="form__input" />
                            </div>

                            <div class="form__groupb">
                                <h4>Total Images</h4>
                            </div>

                            <div class="form__group">
                                <input type="number" placeholder="Images" name="imgcount" value="{{ imgcount }}" class="form__input" />
                            </div>

                            <div class="form__groupb">
                                <h4>Fonts</h4>
                            </div>

                            <div class="form__group">
                                <input type="text" placeholder="Font Styles" name="fontstyle" value="{{ fontnames }}" class="form__input" />
                            </div>
                            
                            <div class="form__groupb">
                                <h4>Font Sizes for respective fonts</h4>
                            </div>

                            <div class="form__group">
                                <input type="text" placeholder="Font Size" name="fontsize" value="{{ fontsizes }}" class="form__input" />
                            </div>
                        </div>
                </div>
                <div class ="register">
                    <button class="btn" type="submit">Register</button>
                </div>

                <div class ="upload-div">
                    <a href="/download" class="upload">Download Database</a>
                </div>

            </form> 
    </body>
    </html>